In [1]:
import os
import pandas as pd
os.chdir("C:/Users/Akhil/Desktop")
train = pd.read_csv("Train_Dataset.csv")
test = pd.read_csv("Test_Dataset.csv")

In [ ]:
train.head()

In [2]:
train['Exp'] = train["experience"].str.extract("(\d*\d.?\d+)", expand=True)

In [3]:
train['Exp'] = train['Exp'].str.split('-')

In [4]:
train.head()

,Sr no,experience,job_description,job_desig,job_type,key_skills,City coded,company_name_encoded,salary,Exp
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR,3687,6to10,"[5, 7]"
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Tier 2,458,10to15,"[10, 17]"
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,4195,15to25,"[5, 9]"
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,10to15,"[7, 10]"
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Delhi NCR,1305,3to6,"[1, 3]"

In [5]:
train[['start','end']] = pd.DataFrame(train.Exp.values.tolist())

In [6]:
train['Avg Exp'] = train[['start','end']].astype(float).mean(axis=1)

In [7]:
train['Salary'] = train['salary'].str.split('to')

In [8]:
train[['sal_start','sal_end']] = pd.DataFrame(train.Salary.values.tolist())

In [9]:
train['Avg_Salary'] = train[['sal_start','sal_end']].astype(float).mean(axis=1)

In [10]:
train.head()

,Sr no,experience,job_description,job_desig,job_type,key_skills,City coded,company_name_encoded,salary,Exp,start,end,Avg Exp,Salary,sal_start,sal_end,Avg_Salary
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR,3687,6to10,"[5, 7]",5,7,6.0,"[6, 10]",6,10,8.0
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Tier 2,458,10to15,"[10, 17]",10,17,13.5,"[10, 15]",10,15,12.5
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,4195,15to25,"[5, 9]",5,9,7.0,"[15, 25]",15,25,20.0
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,313,10to15,"[7, 10]",7,10,8.5,"[10, 15]",10,15,12.5
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Delhi NCR,1305,3to6,"[1, 3]",1,3,2.0,"[3, 6]",3,6,4.5

In [11]:
X = train[['job_desig', 'key_skills', 'City coded', 'Avg Exp', 'Avg_Salary']]

In [12]:
X.drop(['Avg Exp'], axis=1)

,job_desig,key_skills,City coded,Avg_Salary
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,8.0
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,12.5
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,20.0
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,12.5
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,4.5
5,Senior Trainer- Academics,"academics, effective communication, teacher tr...",Delhi NCR,8.0
6,Associate Vice President - Fraud Analytics - S...,"Fraud Analytics, People Management Skills, Tea...",Delhi NCR,37.5
7,Manager - Internal Audit - CA - Big4,"Accounting, Internal Audit, Auditing, Enterpri...",Pune,8.0
8,Payroll Executive,"esic, hr, bonus, pf, tds, payroll, superannuat...",Ahmedabad,1.5
9,Required CA (manager Finance) for R&R Salons P...,"accounting standards, finance, auditing, finan...",Bengaluru,20.0
10,Business Analyst,"Test Data, Data Science, Business Analysis, Ma...",Punjab,8.0
11,Senior AVP - Model Development - Bank - IIM/ M...,"Banking, Model Development, Analytics, People ...",Delhi NCR,12.5
12,Sales and Marketing Data Analyst - Data Analytics,"Marketing Automation, Sales, Salesforce, Eloqu...",Pune,12.5
13,Analytics Specialist - Data Science & Big Data,"Data Science, Machine Learning, R, Big Data, P...",Mumbai,8.0
14,Manager / Assistant Manager- FP &A,"Budgeting, Variance Analysis, Forecasting, Capex",Delhi NCR,12.5
15,NLP & Semantic Specialist - Java/j2ee,"Spring, Core Java, J2Ee, Hibernate, Javascript...",Delhi NCR,12.5
16,Hadoop Developer - Rdbms/netezza/oracle,"Hadoop, HBase, Digital Marketing, Netezza, Uni...",Bengaluru,8.0
17,Business Finance Partner,"Business Finance, Financial Control, Business ...",Bengaluru,12.5
18,Data Scientist - Ecommerce,"Information Retrieval, Hadoop, Hive, Spark, Ma...",Bengaluru,20.0
19,Digital Marketing Role,"Digital Marketing, Google Adwords, marketing, ...",Bengaluru,8.0
20,"Business Analyst - Gurgaon, HR","Business Analyst - Gurgaon, HR",Delhi NCR,8.0
21,"Cyber Risk - Chennai Location - Privacy, Data ...","Business Continuity, Data Privacy, ISMS, Infor...",Chennai,37.5
22,Avp/senior AVP - SAS Analytics - Consulting Fi...,"project implementation, client management, sas...",Bengaluru,12.5
23,"Analyst, AR","AR, reconciliations, Finance, Accounting, work...",Pune,1.5
24,Immediately Required Software Tester in IT Par...,"manual testing, test scripts, performance test...",Punjab,1.5
25,Project Manager - Investment Research - BFSI,"Sales, Equity Research, Investment Research, I...",Mumbai,37.5
26,"E Commerce Manager,","amazon, E - commerce, PORTAL HANDLING, Busines...",Ahmedabad,4.5
27,Financial Business Analyst (third Party Payroll),"finance, mis, business analysis, Excel, Macros",Delhi NCR,1.5
28,IXO IOT Applications,"Analytics, Javascript, SCADA, Outsourcing, Pyt...",Bengaluru,4.5
29,Opportunity for Junior Manager / Assistant Man...,"Life Insurance, Actuarial, Actuarial Analyst, ...",Mumbai,20.0
...,...,...,...,...
19772,Urgent Hiring/ Walk In Drive for BDE - Jhande...,"business development, marketing, franchisee de...",Delhi NCR,1.5
19773,Head - Product Management - Telecom/r&d - Iit/...,"Product Management, Head - Product Management,...",Metro,37.5
19774,Vertica Technical Specialist - Centre of Excel...,"C, Algorithms, C++, Data Structures, Multithre...",Metro,20.0
19775,R1rcm- Accretive Analyst/ Senior Analyst Backe...,"bpo, kpo, non bpo, night shift, us process, uk...",Delhi NCR,1.5
19776,Software Sales CRM,"software sales, selling, predictive analytics,...",Hyderabad,1.5
19777,Senior Manager - Reporting/analytics & Busines...,"sales enablement, mis, business operations, bu...",Bengaluru,37.5
19778,Zonal Business Head - Lcv/hcv/ce Financing - N...,"Driving, HCV, LCV, Commercial Vehicle, Structu...",Chennai,12.5
19779,Trading Head - Market Making/high Frequency Tr...,"High Frequency Trading, Trading Head",Pan,37.5
19780,Azure Developer,"Hive, Spark, Hadoop, Talend, Devops, Data Inte...",Hyderabad,12.5
19781,Content Auditor,"copy writing, Content Analysis, content resear...",Delhi NCR,8.0
19782,"Credit Manager,","Financial Analysis, Credit Analysis, Finance, ...",Delhi NCR,1.5
19783,Security Operations Analyst,"nessus, splunk, wireshark",Mumbai,12.5
19784,Collection Analyst,"NBFC, Interpersonal skills, Legal, Collection ...",Kolkata,12.5
19785,Job Opening for Mep-qs for a Leading PMC in Mu...,"Estimation, Billing, Business Planning, Rate A...",Mumbai,12.5
19786,Full time Digital Marketing Trainer( Apply by ...,"digital marketing, seo, email marketing, youtu...",Tier 2,4.5
19787,FP&A Lead,"Finance, Accounting, Budgeting, Financial Anal...",Delhi NCR,20.0
19788,Opening for Relationship Manager-direct Marketing,"Sales, Marketing, Benefits, Cross Selling, Sal...",Chennai,1.5
19789,Principal Software Engineer - IT,"powershell, octopus, .net, continuous integrat...",Bengaluru,12.5
19790,Executive / AM Sales / Sr Counselor -- Bangalore,"student advisor, career advisor, enrollment ex...",Bengaluru,1.5
19791,Senior Product Manager,"Product Strategy, Project Management, Marketin...",Chennai,20.0
19792,PHP Analyst - Mysql/javascript,"HTML, Javascript, CSS, JQuery, JSON, Html5, My...",Delhi NCR,12.5
19793,SDET - Selenium Webdriver & (python/java),"java, selenium webdriver, sdet, python, contin...",Chennai,12.5
19794,Solution Architect-security for Bangalore / Mu...,"Security Analytics, SIEM, Arcsight, QRadar, Sp...",Metro,12.5
19795,Opening for CA Fresher | Amravati,"Lap, Credit Policy, HL, Credit Risk Management...",Maharashtra,4.5
19796,Executive Custome Executive (merchandising ),"HTML, XML, C, Communication Skills",Pune,1.5
19797,"Director, Medical Coding Training","Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,20.0
19798,Looking For Freshers WHO WANT To Work WITH US,"offline, online, part time, home base, work fr...",Metro,1.5
19799,PM- C#/ .Net ( Annuity/ Insurance Domain),"SQL Server, VB.NET, C#, .Net, C#.Net, Oracle S...",Hyderabad,20.0
19800,Consultant - Internal Audit,"accounting, internal audit, auditing, risk adv...",Pune,12.5
19801,Unity 3D Developer - Mobile Games Development,"IOS, XCode, Apple, Version Control, Perforce, ...",Hyderabad,12.5

In [13]:
X.dropna(subset=['key_skills'], inplace=True)

c:\users\akhil\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
X.key_skills.isnull().sum()

0

In [15]:
X.head()

,job_desig,key_skills,City coded,Avg Exp,Avg_Salary
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,6.0,8.0
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,13.5,12.5
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,7.0,20.0
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,8.5,12.5
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,2.0,4.5

In [ ]:
# Import Pipeline
from sklearn.pipeline import Pipeline

# Import other necessary modules
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X[['Avg Exp']],
                                                    X[['Avg_Salary']], 
                                                    random_state=22)

In [ ]:
pl = Pipeline([
        ('clf', OneVsRestClassifier(LogisticRegression()))
    ])

In [ ]:
pl.fit(X_train, y_train)

In [ ]:
accuracy = pl.score(X_test, y_test)

In [ ]:
print("\nAccuracy: ", accuracy)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import FunctionTransformer

In [ ]:
get_text_data = FunctionTransformer(lambda x: x[['job_desig', 'key_skills', 'City coded']], validate=False)

In [ ]:
get_numeric_data = FunctionTransformer(lambda x: x[['Avg Exp']], validate=False)

In [ ]:
just_text_data = get_text_data.fit_transform(X)

In [ ]:
just_numeric_data = get_numeric_data.fit_transform(X)

In [ ]:
from sklearn.pipeline import FeatureUnion

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X[['job_desig', 'key_skills', 'City coded', 'Avg Exp']],
                                                    X[['Avg_Salary']], 
                                                    random_state=22)

In [ ]:
process_and_join_features = FeatureUnion(
            transformer_list = [
                ('numeric_features', Pipeline([
                    ('selector', get_numeric_data)
                ])),
                ('text_features', Pipeline([
                    ('selector', get_text_data),
                    ('vectorizer', CountVectorizer())
                ]))
             ]
        )

# Instantiate nested pipeline: pl
pl = Pipeline([
        ('union', process_and_join_features),
        ('clf', OneVsRestClassifier(LogisticRegression()))
    ])

In [ ]:
pl.fit(X_train, y_train)

In [ ]:
=------------------------------------------------------------------------------------------------------------------

In [27]:
X['Avg_Exp'] = X['Avg Exp'].astype(int)
X['Avg_Salary'] = X['Avg_Salary'].astype(int)
X = X.drop(['Avg Exp'], axis=1)

c:\users\akhil\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\akhil\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
X.head()

,job_desig,key_skills,City coded,Avg_Salary,Avg_Exp
0,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR,8,6
1,Head SCM,"ppc, logistics, inventory management, supply c...",Tier 2,12,13
2,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,20,7
3,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,12,8
4,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Delhi NCR,4,2

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import FunctionTransformer

In [30]:
cvec = CountVectorizer()
X_jd = X.job_desig
y_jd = X.Avg_Salary

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X_jd, y_jd, test_size=0.33)

In [32]:
cvec = CountVectorizer(stop_words='english').fit(X_train)
df_train = pd.DataFrame(cvec.transform(X_train).todense(),columns=cvec.get_feature_names())

MemoryError:

In [21]:
df_test = pd.DataFrame(cvec.transform(X_test).todense(),columns=cvec.get_feature_names())

In [22]:
print(df_train.shape)
print(y_train.shape)
print(df_test.shape)
print(y_test.shape)

(13266, 4075)
(13266,)
(6535, 4075)
(6535,)

In [23]:
lr = LogisticRegression()
lr.fit(df_train, y_train)
lr.score(df_test, y_test)

c:\users\akhil\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Unknown label type: 'continuous'

In [ ]:
-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
X_ks = X.key_skills
y_ks = X.Avg_Salary

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_ks, y_ks, test_size=0.33)

In [ ]:
cvec = CountVectorizer()
cvec = CountVectorizer(stop_words='english').fit(X_train)

In [ ]:
ks_train = pd.DataFrame(cvec.transform(X_train).todense(),columns=cvec.get_feature_names())